/* Contact Form */

input:focus::placeholder {
    color: transparent;
}

textarea:focus::placeholder {
    color: transparent;
}

input,
textarea {
    text-align: left;
    font-family: 'Montserrat';
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

#contact-page-wrapper {
    width: 100%;
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#contact-form form {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

#contact-form label {
    margin-bottom: 0.5rem;
}

#message {
    width: 100%;
    min-height: 10rem;
    box-sizing: border-box;
}

#email-address {
    width: 100%;
    max-width: 300px;
}

#submit-button-wrapper {
    width: 100%;
    align-items: end;
}

#submit-button {
    float: right;
    border: 1px solid var(--border);
    border-radius: 10px;
    width: fit-content;
    margin-right: 0;
}

.contact-container {
    background-color: var(--container-fore);
    border: 1px dotted var(--border);
    padding: 5px;
    color: var(--text-primary);
}
