/* Front Screen */

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

#title {
    font-size: 3em;
    margin-bottom: 1em;
}

#in-progress {
    margin: auto;
    margin-top: 1dvh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: darkred;  
}

#toolbar {
    display: flex;
    justify-content: center;
    gap: min(5dvw, 75px);
    margin-top: 2em;
}

#dummy-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex-basis: space-around;
    /* margin: auto;
    margin-top: max(calc(70vh - 25vh), calc(70vh - 25vw)); */
    /* height: 100dvh; */
    perspective: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

#record-container {
    height: fit-content;
    width: fit-content;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1.8fr min(60dvh, 60dvw) 1.8fr minmax(0, 1fr);
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#jacket-front, #jacket-back {
    aspect-ratio: 1/1;
    height: 60dvh;
    max-height: 60dvw;
    background-size: cover;
    border-radius: 3px;
    transition: transform 1s;
    grid-row-start: 1;
    grid-column-start: 3;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    z-index: 1;
    position: relative;
    transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
    margin-left: -6%;
}

#jacket-front {
    background-image: url("../images/touch-grass-front.jpg");
    border: 1px solid hsla(52, 81%, 80%, 100%);
    color: black;
}

#jacket-back {
    color: white;
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}

.back-slider {
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    z-index: -1;
}

#jacket-back-slider {
    background-image: url("../images/touch-grass-back.jpg");
    border: 1px solid hsla(52, 81%, 80%, 100%);
}

#vinyl-front, #vinyl-back {
    aspect-ratio: 1/1;
    height: 60dvh;
    max-height: 60dvw;
    background-size: cover;
    z-index: -2;
    transition: transform 1s;
    transform-style: preserve-3d;
    grid-row-start: 1;
    grid-column-start: 3;
    position: absolute;
    margin-left: 10%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    color: black;
}

#vinyl-back {
    color: white;
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}

#vinyl-back-slider {
    background-image: url("../images/touchgrass-vinyl-side2.png");
}

#vinyl-front {
    background-image: url("../images/touchgrass-vinyl-side1.png");
    color: black;
}


#jacket-thickness {
    background-color: #faf4cf;
    background-image: -webkit-linear-gradient( 	hsla(52, 81%, 80%, 100%), hsl(52, 81%, 40%, 100%));
    bottom: 0;
    left: -.5dvh;
    position: absolute;
    top: 0px;
    /* border-style: solid;
    border: 1px; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: .5dvh;
    z-index: -3;
    transition: 1s;
    transform-origin: 100% 50%;
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    border-radius: 1px;
    grid-column-start: 3;
    grid-row-start: 1;
    margin-left: -6%;
}

.rotate-icon {
    background-image: url("../images/flipicon.png");
    filter: drop-shadow(0px 0px 10px var(--container-shadow));
    background-size: cover;
    height: auto;
    width: 8dvw;
    max-width: 100px;
    min-width: 50px;
    aspect-ratio: 3/2;
}

img {
    border: 0;
}

#rotate-sleeve-icon {
    display:none;
}


#record-container.expanded-full #vinyl-front {
    transform: translateX(18%);
    -webkit-transform: translateX(18%);
}

#record-container.expanded-full #jacket-front {
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%)
}

#record-container.expanded-full #jacket-back-slider {
    transform: translateX(25%);
    -webkit-transform: translateX(25%);
}

#record-container.expanded-full #vinyl-back-slider {
    transform: translateX(-18%);
    -webkit-transform: translateX(-18%);
}

#record-container.expanded-full #jacket-thickness {
    transition: 0s;
    opacity: 0;
}

#record-container.expanded-slight #vinyl-front {
    transition: transform .5s !important;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
}

#record-container.expanded-slight #jacket-front {
    transition: transform .5s !important;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#record-container.expanded-slight #jacket-back-slider {
    transition: transform .5s !important;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#record-container.expanded-slight #vinyl-back-slider {
    transition: transform .5s !important;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}

/* Open Vinyl/Sleeve Page */

#open-record-wrapper {
    display: none;
    justify-content: center;
    overflow: hidden;
}

#open-record-container {
    /* height: 100dvh; */
    /* overflow: hidden; */
    position: relative;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    transition: transform 1s;
    height: 80dvh;
    max-height: 80dvw;
}

#sleeve-wrapper {
    height: 80dvh;
    max-height: 80dvw;
    width: 80dvh;
    max-width: 80dvw;
    transition: transform 1s;
    border-style: solid;
    border: 1px;
    border-radius: 1%;
    backface-visibility: hidden;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    transform-style: preserve-3d;
    position: relative;
    z-index: 0;
}

.sleeve {
    position: relative;
    background-size: cover;
    aspect-ratio: 1/1;
    height: 80dvh;
    max-height: 80dvw;
    grid-column: 1;
    grid-row: 1;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#sleeve-front {
    background-image: url("../images/sleeve-front.png");
}

#sleeve-back {
    color: white;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-image: url("../images/sleeve-back.png");
}

#open-record-left-wrapper {
    position: relative;
    z-index: 5;
    height: 80dvh;
    max-height: 80dvw;
    width: 80dvh;
    max-width: 80dvw;
    grid-column: 1;
    grid-row: 1;
    transition: .75s ease-in-out;
    border-radius: 1%;
}

#open-record-right-wrapper {
    position: relative;
    z-index: -5;
    height: 80dvh;
    max-height: 80dvw;
    width: 80dvh;
    max-width: 80dvw;
    grid-column: 3;
    grid-row: 1;
    transition: .75s ease-in-out;
    border-radius: 1%;
}

#open-record-container.closed #open-record-left-wrapper {
    transform: translateX(calc(100% + 10px));
    -webkit-transform: translateX(calc(100% + 10px));
    -moz-transform: translateX(calc(100% + 10px));
}

#open-record-container.closed #open-record-right-wrapper {
    transform: translateX(calc((100% + 10px) * -1));
    -webkit-transform: translateX(calc((100% + 10px) * -1));
    -moz-transform: translateX(calc((100% + 10px) * -1));
}

.jacket-large {
    /* height: 80dvh; */
    max-height: 80dvw;
    /* width: 100%; */
    position: relative;
    background-size: cover;
    border-style: solid;
    border: 1px;
    aspect-ratio: 1/1;
    transition: transform .75s ease-in-out;
    border: 1px solid hsla(52, 81%, 80%, 100%);
}

#jacket-front-large {
    background-image: url("../images/touch-grass-front.jpg");
}

#jacket-back-large {
    background-image: url("../images/touch-grass-back.jpg");
    display: none;
}

.vinyl-large {
    position: relative;
    background-size: cover;
    transition: transform rotate .75s; 
    height: 80dvh;
    max-height: 80dvw;
    width: 80dvh;
    max-width: 80dvw;
    /* animation: spin 1.8s; */
    /* -webkit-animation: spin 1.8s linear infinite;
    -moz-animation: spin 1.8s linear infinite; */
}

#vinyl-front-large {
    background-image: url("../images/touchgrass-vinyl-side1.png");
}

#vinyl-back-large {
    background-image: url("../images/touchgrass-vinyl-side2.png");
    display: none;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

#spacer {
    position: relative;
    height: 10dvh;
    max-height: 10dvw;
    width: 10dvh;
    max-width: 10dvw;
}

#album-out-icon, #album-in-icon {
    filter: drop-shadow(1px 1px 10px var(--container-shadow));
    background-size: cover;
    height: auto;
    width: 8dvw;
    max-width: 100px;
    aspect-ratio: 3/2;
    min-width: 50px;
}

#album-out-icon {
    background-image: url("../images/albumout-icon.png");
}

#album-in-icon {
    display: none;
    background-image: url("../images/albumin-icon.png");
}

#bandcamp-player {
    margin: auto;
    margin-top: 2em;
    z-index: 2;
    border: 0;
    height: 373px;
}

.fadeout {
    animation: fadeout 1s 1 linear forwards;
}

@keyframes fadeout {
    0% {opacity: 1; }
    100% {opacity: 0; }
    }
    
@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fadein {
    animation: fadein 1s 1 linear forwards;
}

@keyframes fadein {
    0% {opacity: 0; }
    100% {opacity: 1; }
    }
    
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.isrotating {
    animation-name: rotating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.icon {
    cursor: pointer;
}

.icon:hover, .icon.hovering{
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

@-moz-keyframes rotating {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes rotating {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


/* WebGL CSS */

#three-record {
    position: relative; 
    margin: auto;
    outline: none;
    display: none;

}

#three-button {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*
Z-INDEX REFERENCE CHART
    big-vinyl: -5
    album-out-icon: -4
    jacket-thickness: -3
    vinyl-front: -2
    back-slider: -1
    goback-arrow: 0
    jacket-front/back: 1
    jacket-front-large: 2
    vinyl-large: -5;
    jacket-large: 5
*/