:root {
    --background: #f7f6f2;
    --border: grey;
}

html[data-theme='light'] {
    --background: #f0eee5;
    --background-highlight: #f7f6f2;
    --container-highlight: #eeeeee;
    --container-fore: #faf9f5;
    --container-mid: #ebeae6;
    --container-back: #dbdad6;
    --container-shadow: #cfcec5;
    --container-disabled: #eaeaea;
    --text-primary: #363739;
    --border: #a7a7a5;
    --link-hover: #868789;
    --link-active: #161719;
}

html[data-theme='dark'] {
    --background: #292929;
    --background-highlight: #fcfd99;
    --container-highlight: #a9a9a9;
    --container-fore: #494949;
    --container-mid: #59595d9;
    --container-back: #3b3535;
    --container-shadow: #181818;
    --border: black;
    --container-disabled: #676767;
    --text-primary: #e6e6e6;
    --link-hover: #868686;
    --link-active: #464646;
}

/* main css for website */

@viewport {
    width: device-width;
    zoom: 1;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-primary);
    background-color: var(--background);
    padding: 0px;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: var(--text-primary);
}
a:hover {
    color: var(--link-hover);
}
a:active {
    color: var(--link-active);
}

#copyright {
    margin-top: 10px;
    font-size: 0.8rem;
}

#main-title {
    font-size: min(5rem, max(3rem, 35.56px));
    font-weight: normal;
    letter-spacing: 0.1rem;
}

#footer {
    font-size: 1rem;
    bottom: 0;
    margin: 2rem 0;
}

#critter-wrapper {
    width: 100%;
    display: flex;
    flex: 1;
    min-height: 400px;
    height: min(600px, 100dvh - 150px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#little-critter {
    min-width: 300px;
    max-width: 500px;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    padding: 2rem 1.5rem 0 1.5rem;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 0px 0.5rem #fe513f);
    filter: drop-shadow(0px 0px 0.5rem #fe513f);
    transition: all 2s;
}

#little-critter:hover {
    transition-timing-function: cubic-bezier(0, 0.6, 4, 1);
    -webkit-filter: drop-shadow(0px 0px 1.5rem #fe513f);
    filter: drop-shadow(0px 0px 1.5rem #fe513f);
    cursor: pointer;
}

.section-title {
    font-size: 2rem;
    margin: 3rem 0 2rem 0;
}

#full-page-wrapper {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: scroll;
    width: 100%;
}

#page-width-wrapper {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
}

.textbox {
    font-size: 14px;
    /* padding: 1rem 0; */
    max-width: 75%;
    margin: auto;
}

.button {
    display: block;
    margin: 10px 0px 50px auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--container-fore);
    border-radius: 5px;
}

#read-more-button {
    margin: auto;
    background-color: var(--container-fore);
    border: 1px solid var(--border);
    color: var(--text-primary);
}

#more-text {
    display: none;
}

#about-me {
    text-align: justify;
    text-justify: auto;
    width: 75%;
    max-width: 60rem;
}
