{% extends "layout.html" %} {% block title %} send me a message {% endblock
title %} {% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='./css/contact.css') }}"
/>
{% endblock head %} {% block body %}

<div id="contect-page-wrapper" class="centered">
    <h3 class="section-title">
        Thanks for visiting,
        <br />
        feel free to send me a message!
    </h3>
    <div id="contact-form">
        <form
            action="https://formspree.io/f/mnqwbdwo"
            method="POST"
            style="text-align: left"
        >
            <label for="email-address"> Your email address * </label>
            <br />
            <input
                type="text"
                id="email-address"
                class="contact-container"
                placeholder="so I know how to reach out"
                name="email-address"
                required
            />
            <br />
            <label for="message"> Your message * </label>
            <br />
            <textarea
                id="message"
                class="contact-container"
                placeholder="so I know why to reach out"
                name="message"
                required
            ></textarea>
            <br />
            <div id="submit-button-wrapper">
                <input
                    id="submit-button"
                    class="contact-container"
                    type="submit"
                    class="g-recaptcha button"
                    value="submit"
                />
            </div>
        </form>
    </div>
</div>

{% endblock body %} {% block footer %}
<a href="/">home</a>
| {% endblock footer %}
